body {
    background-color: lightgray;
}
/* Navbar Styling */
#navbar-title {
    margin-left: 145px;
}
/* Sidebar Styling */
.sidebar {
    padding-bottom: 100vh;
    background-color: white;
}
.search-form {
    margin-top: 50px;
}
/* Main Page */
#content {
    margin-top: 50px;
}
.top-block, .bottom-block {
    background-color: white;
}
.cards{
    margin-left: 25px;
}
.button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
  }