body {
    background-color: lightgray;
}
/* Navbar Styling */
#navbar-title {
    margin-left: 145px;
}
/* Sidebar Styling */
.sidebar {
    padding-bottom: 100vh;
    background-color: white;
}
.search-form {
    margin-top: 50px;
}
/* Main Page */
#city {
    padding: 10px;
}
#content {
    margin-top: 50px;
}
#list {
    list-style-type: none;
}
#uv-index{
    margin-right: 882px;
}
#forecast-title{
    padding: 10px;
}
.top-block, .bottom-block {
    background-color: white;
    border-radius: 15px;
    padding-bottom: 1px;
    margin-top: 10px
}
.cards{
    margin-left: 25px;
}
.card-header{
    font-weight: bolder;
    text-align: center;
    font-size: 22px;
}
.button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
  }